[submodule "TRESCLOUD/account-analytic"]
	path = TRESCLOUD/account-analytic
	url = git@github.com:TRESCLOUD/account-analytic.git
	branch = 15.0

[submodule "TRESCLOUD/ecuadorian-banks"]
	path = TRESCLOUD/ecuadorian-banks
	url = git@github.com:TRESCLOUD/ecuadorian-banks.git
	branch = 15.0

[submodule "TRESCLOUD/odoo-apps"]
	path = TRESCLOUD/odoo-apps
	url = git@github.com:TRESCLOUD/odoo-apps.git
	branch = 15.0

[submodule "TRESCLOUD/server-ux"]
	path = TRESCLOUD/server-ux
	url = git@github.com:TRESCLOUD/server-ux.git
	branch = 15.0

[submodule "TRESCLOUD/stock-logistics-workflow"]
	path = TRESCLOUD/stock-logistics-workflow
	url = git@github.com:TRESCLOUD/stock-logistics-workflow.git
	branch = 15.0

[submodule "pepetreshere/ecuadorian-hr"]
	path = pepetreshere/ecuadorian-hr
	url = git@github.com:pepetreshere/ecuadorian-hr.git
	branch = 15.0

[submodule "pepetreshere/ecuadorian-localization"]
	path = pepetreshere/ecuadorian-localization
	url = git@github.com:pepetreshere/ecuadorian-localization.git
	branch = 15.0

[submodule "TRESCLOUD/stock-logistics-warehouse"]
	path = TRESCLOUD/stock-logistics-warehouse
	url = git@github.com:TRESCLOUD/stock-logistics-warehouse.git
	branch = 15.0

[submodule "TRESCLOUD/bank-payment"]
	path = TRESCLOUD/bank-payment
	url = git@github.com:TRESCLOUD/bank-payment.git
	branch = 15.0

[submodule "TRESCLOUD/social"]
	path = TRESCLOUD/social
	url = git@github.com:TRESCLOUD/social.git
	branch = 15.0

[submodule "TRESCLOUD/website"]
	path = TRESCLOUD/website
	url = git@github.com:TRESCLOUD/website.git
	branch = 15.0

[submodule "TRESCLOUD/server-brand"]
	path = TRESCLOUD/server-brand
	url = git@github.com:TRESCLOUD/server-brand.git
	branch = 15.0

[submodule "TRESCLOUD/pos"]
	path = TRESCLOUD/pos
	url = git@github.com:TRESCLOUD/pos.git
	branch = 15.0

[submodule "TRESCLOUD/server-tools"]
	path = TRESCLOUD/server-tools
	url = git@github.com:TRESCLOUD/server-tools.git
	branch = 15.0

[submodule "TRESCLOUD/sale-workflow"]
	path = TRESCLOUD/sale-workflow
	url = git@github.com:TRESCLOUD/sale-workflow.git
	branch = 15.0

[submodule "TRESCLOUD/web"]
	path = TRESCLOUD/web
	url = git@github.com:TRESCLOUD/web.git
	branch = 15.0
